# @name <optional_meno_infoboardu>
# @video <filename> <start_date> <end_date>
# @image <filename> <start_date> <end_date> <duration>
# @bus <bus_stop_id> <start_date> <end_date> <duration>

# Examples:
# @image firewatch.png 2013-01-01 2020-01-01 5
# @video rick_s.webm 2013-01-01 2020-01-01
# @bus 358 2013-01-01 2015-01-01 15
# @bus 21 2013-01-01 2020-01-01 15

